1.Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ")
words = sentence.split()        
unique_words = set(words)       
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  Easy to understand

Unique words count: 3
Unique words: {'Easy', 'to', 'understand'}

2.Highest Salary from Employee Data

In [8]:
employees = {
    "Reena": 80000,
    "Priya": 75000,
    "kiran": 65000
}
highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Reena - 80000

3.Find Maximum and Minimum Values

In [10]:
numbers = [46, 24, 88, 20, 65]
max_value = numbers[0]
min_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [46, 24, 88, 20, 65]
Max: 88
Min: 20

4.Count Products Above a Price Threshold

In [11]:
prices = [460, 1400, 900, 1800, 200]
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("product above 1000:", count)

product above 1000: 2

5.Calculate Attendance Percentage

In [13]:
attendance = ["T", "A", "M", "I", "L"]
present_count = 0
for day in attendance:
    if day == "T":
        present_count += 1
total_days = len(attendance)
percentage = (present_count / total_days) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 20.0

6.Remove Duplicate Phone Numbers

In [15]:
phone_numbers = [9876543256, 2345678954, 9912345678]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543256, 2345678954, 9912345678}

7.Count Character Frequency

In [19]:
text = "python"
char_count = {}
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

8.Convert List to Tuple

In [20]:
numbers = [20, 40, 60,]
result = tuple(numbers)
print("Tuple:", result)

Tuple: (20, 40, 60)

9.Check if a Key Exists in a Dictionary

In [21]:
data = {
    "Employee": "Ravi",
    "Salary": 50000
}
if "Employee" in data:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

10.Calculate Average Marks

In [22]:
marks = [70, 75, 80, 65]   
total = sum(marks)
average = total / len(marks)
print("Average Marks:", average)

Average Marks: 72.5